/* Config from Backend */
body {
  background-color: $zw-bg-color-bg-one;
}

.button.special {
  background-color: $zw-button-bg !important;
}

/* Responsive */
@media screen and (max-width: 360px) {
  #nav {
    display: flex;
    max-width: 100%;
  }
  #nav.alt{
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #nav {
    display: flex;
  }

  #nav.alt{
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 736px) {
  #nav.alt{
    display: none;
  }
}