title = "Error 404"
url = "/404"
layout = "generic"
description = "Page not found"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<header class="major">
    <h2>Desculpe, a página solicitada não foi encontrada.</h2>
    <p><a class="button" href="{{'blog'|page}}">Voltar ao início</a></p>
</header>