title = "Início"
url = "/:page?/"
layout = "generic"
description = "Breve descrição do escritório"
is_hidden = 0
canonical_url = "inicio"
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = "{{ 4 }}"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-category"
postPage = "blog-post"
==
{% set posts = blogPosts.posts %}

<div class="post-list">
    {% for post in posts %}
            <h2>{{ post.title }}</h2>

            <p class="info">
                Postado
                {% if post.categories.count %} em {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                em {{ post.published_at|date('d, M, Y') }}
            </p>
            <p class="excerpt">{{ post.summary | raw }}</p>
            <ul class="actions">
                <li><a href="{{ post.url }}" class="button">Leia mais...</a></li>
            </ul>
            {% if not loop.last %}
                <hr>
            {% endif %}

    {% else %}
        <h2>{{ noPostsMessage }}</h2>
    {% endfor %}
</div>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Anterior</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Próxima &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}