title = "Blog Post"
url = "/blog/post/:slug"
layout = "generic"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog-category"

[SeoBlogPost]
post = "post"
==
<?php
function onEnd()
{
    // Optional - set the page title to the post title

    if (isset($this->post))
    $this->page->title = $this->post->title;  
}
?>
==
{% if post %}
{% component 'SeoBlogPost' data=post%}

<h2>{{ post.title }}</h2>

{% set post = blogPost.post %}

<div class="content">{{ post.content_html|raw }}</div>

{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<p class="info">
    Postado
    {% if post.categories.count %} em
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    em {{ post.published_at|date('d, M, Y') }}
</p>

{% else %}
<h2>Post não encontrado</h2>
{% endif %}