title = "Blog Category"
url = "/blog/category/:slug/:page?"
layout = "generic"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-category"
postPage = "blog-post"
==
<?php
function onEnd()
{
// Optional - set the page title to the category name
if ($this->category)
$this->page->title = $this->category->name;
}
?>
==
<header class="major">
    {% if not category %}
    <h2>Categoria não encontrada</h2>
    {% else %}
    <h2>{{ category.name }}</h2>
    {% endif %}
</header>

{% set posts = blogPosts.posts %}

<div class="post-list">
    {% for post in posts %}
            <h2>{{ post.title }}</h2>

            <p class="info">
                Postado
                {% if post.categories.count %} em {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                em {{ post.published_at|date('d, m, Y') }}
            </p>

            <p class="excerpt">{{ post.summary | raw }}</p>

            <ul class="actions">
                <li><a href="{{ post.url }}" class="button">Leia mais...</a></li>
            </ul>
            {% if not loop.last %}
            <hr>
            {% endif %}
    {% else %}
        <h2>{{ noPostsMessage }}</h2>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Anterior</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Próxima &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
