[SeoCmsPage]
==
{% component 'SeoCmsPage' %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="author" content="Mayara Cechinatto">
    <title>Leonel Ferreira Advogado - {{ this.page.meta_title|default(this.page.title) }}</title>
    <link rel="icon" type="image/jpeg" href="{{ 'assets/images/simbolologo.png' | theme}}" />

    {% if this.theme.load_google_fonts %}
    <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}
    {% if this.theme.load_fontawesome %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    <script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>

    {% framework %}
    <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js'|theme }}"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ ['assets/css/ie9.css']|theme }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ ['assets/css/ie8.css']|theme }}" /><![endif]-->


    <link href="{{ ['assets/css/main.css', 'assets/sass/zw_custom.scss']|theme }}" rel="stylesheet">
    {% styles %}