<!-- Nav -->
<nav id="nav">
    <a href="{{ 'blog'|page }}"><img src="{{'assets/images/logo2.jpeg'|theme}}" alt="Logo" /></a>
    <ul>        
        <li><a href="{{ 'blog'|page }}" class="{% if this.page.id == 'blog' %}active{% endif %}">Início</a></li>
        <li><a href="{{ 'contato'|page }}" class="{% if this.page.id == 'contato' %}active{% endif %}">Contato</a></li>
    </ul>
</nav>